
section:nth-of-type(2) .col-lg-4 .bg-black {
  background-color: $color-dark !important;
  color: $color-white;

  h3 {
    text-transform: none;
    letter-spacing: normal;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;

    strong {
      display: inline-block;
      margin-bottom: 0.1rem;
    }
  }
}


section:nth-of-type(2) .ratio {
  box-shadow: $card-shadow;
  border-radius: 0.5rem;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
