
@import "variables";
@import "header";
@import "footer";
@import "home";
@import "estoque";
@import "sobre";
@import "contato";


html,
body {
  height: 100%;
}

body {
  font-family: $font-family-base;
  background-color: $color-gray-light;
  color: $color-gray-dark;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex: 1 0 auto;
}


body > footer {
  margin-top: auto;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


section {
  padding-top: $section-padding-y;
  padding-bottom: $section-padding-y;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  letter-spacing: 0.06em;
}


.text-small {
  font-size: 0.875rem;
}

.btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 22px;
  display: none;            /* começa escondido */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
}
