// Cores principais
$color-dark: #000000;
$color-dark-soft: #111111;
$color-gray-dark: #333333;
$color-gray-medium: #777777;
$color-gray-light: #f2f2f2;
$color-white: #ffffff;

$color-accent: #00c853; // botões "Fale com a loja"
$color-primary: #222222; // fundo header
$color-footer: #000000;

// Tipografia
$font-family-base: "Arial", "Helvetica", sans-serif;

// Espaçamentos
$section-padding-y: 3rem;

// Sombras simples
$card-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
